[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=AGTL
Exec=/usr/bin/agtl
Icon=/usr/share/icons/hicolor/64x64/apps/agtl.png
Categories=Utilities;
